<h1>Playgrounds#index</h1>
<p>Find me in app/views/playgrounds/index.html.erb</p>

<p>Take a picture</p>
<input id="take-picture" type="file" accept="image/*" capture="camera">

<div id="filename"></div>
<div id="show-picture"></div>

<p>Location</p>
<p>Lat: <span id="latitude"></span></p>
<p>Long: <span id="longitude"></span></p>
