<h1>Playgrounds#index</h1>
<p>Find me in app/views/playgrounds/index.html.erb</p>
<p>take a photo</p>
<input type="file" accept="image/*;capture=camera">
<p>1</p>
<input type="file" accept="image/*" capture="camera">
