<span id="submissions-show"></span>

<span id="submission"
  data-blue-factor="<%= @submission.blue_factor %>"
  ></span>

<div class="container show-submission">
  <%= image_tag @submission.photo, class: "img-responsive center-block uploaded-photo" %>
  <div id="factor-row" class="row no-margin">
    <div class="blue-factor-box col-xs-offset-3 col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
  </div>
</div>

<div class="row no-margin photo-summary">
  <div class="col-xs-4">
    <p class="photo-summary-left">Blue</p>
  </div>
  <div class="col-xs-4">
    <p class="photo-summary-middle">Clear</p>
  </div>
  <div class="col-xs-4">
    <p class="photo-summary-right">Low Aerosol</p>
  </div>
</div>
