<span id="submissions-show"></span>

<span id="submission"
  data-blue-factor="<%= @submission.blue_factor %>"
  ></span>

<h1>Submitted photo</h1>

<p>Latitude: <%= @submission.latitude %></p>
<p>Longitude: <%= @submission.longitude %></p>
<p>Blue Factor: <%= @submission.blue_factor %></p>
