<span id="submissions-show"></span>

<span id="submission"
  data-blue-factor="<%= @submission.blue_factor %>"
  ></span>

<div id="show-container">

  <div class="show-submission">
    <%= image_tag @submission.photo, class: "center-block uploaded-photo" %>
  </div>

  <div class="text-center photo-summary-hero blue-color-<%= @submission.blue_factor %>">
    <h2>BEAUTIFUL SKY</h2>
  </div>

  <div class="photo-summary-whole" >
    <div class="row no-margin photo-summary">
      <div class="col-xs-4 border-right">
        <p class="photo-summary-left">Blue</p>
      </div>
      <div class="col-xs-4 border-right">
        <p class="photo-summary-middle">Clear</p>
      </div>
      <div class="col-xs-4">
        <p class="photo-summary-right">Low Aerosol</p>
      </div>
    </div>
    <div class="row no-margin photo-summary">
      <div class="col-xs-4 border-right">
        <h4>Color</h4>
      </div>
      <div class="col-xs-4 border-right">
        <h4>Visibility</h4>
      </div>
      <div class="col-xs-4">
        <h4>Aerosol</h4>
      </div>
    </div>
  </div>

</div>
