<span id="submissions-show"></span>

<span id="submission"
  data-blue-factor="<%= @submission.blue_factor %>"
  ></span>

<div class="container show-submission">
  <%= image_tag @submission.photo, class: "img-responsive center-block", style: "height: 300px;" %>
  <div id="factor-row" class="row no-margin">
    <div class="blue-factor-box col-xs-offset-3 col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
    <div class="blue-factor-box col-xs-1"></div>
  </div>
</div>

<br />
<p>Latitude: <%= @submission.latitude %></p>
<p>Longitude: <%= @submission.longitude %></p>
