$text-color: rgb(227, 241, 241);
$background-color: rgb(60, 71, 80);

$factor-0: rgb(53, 113, 181);
$factor-1: rgb(90, 136, 189);
$factor-2: rgb(104, 144, 199);
$factor-3: rgb(126, 158, 206);
$factor-4: rgb(149, 177, 216);
$factor-5: rgb(177, 196, 225);

