// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Open Sans", sans-serif;
}

h1 {
  letter-spacing: 2px;
}

.title {
  h1 {
    margin: 10px;
    padding: 0px;
    font-weight: 600;

    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}

.footer {
  border-top: 2px solid $text-color;
  border-bottom: 2px solid $text-color;

  .container {
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    max-width: 480px;
    margin: 0 auto;
  }
}

.btn-default {
  color: $text-color;
  background: none;
  border: none;

  &:hover {
    color: $text-color;
    background: none;
  }
}

.btn-lower-right {
  width: 64px;
  height: 50px;
}

.submit-row {
  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 35px;
  }

  .step {
    margin-top: 16px;
    margin-bottom: 12px;
  }
}

.blue-factor-0 {
  background-color: $factor-0;
}

.blue-factor-1 {
  background-color: $factor-1;
}

.blue-factor-2 {
  background-color: $factor-2;
}

.blue-factor-3 {
  background-color: $factor-3;
}

.blue-factor-4 {
  background-color: $factor-4;
}

.blue-factor-5 {
  background-color: $factor-5;
}

.blue-color-0 {
  color: $factor-0;
}

.blue-color-1 {
  color: $factor-1;
}

.blue-color-2 {
  color: $factor-2;
}

.blue-color-3 {
  color: $factor-3;
}

.blue-color-4 {
  color: $factor-4;
}

.blue-color-5 {
  color: $factor-5;
}

.header-row {
  .header-bar {
    height: 5px;
  }
}

#picture-container {
  height: 370px;
  max-width: 480px;
  margin: 0 auto;
}

#initial-container {
  height: 370px;
  padding: 30px;
  max-width: 480px;
  margin: 0 auto;
}

#show-container {
  max-width: 480px;
  margin: 0 auto;
}

.uploaded-photo {
  height: 300px;
  padding: 10px 0;
}

.palette-color {
  height: 70px;
  border: 1px solid $text-color;
  border-bottom: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 100;
}

.no-margin {
  margin: 0;
}

.show-submission {
  margin-top: 2px;
  padding-top: 10px;
}

.photo-summary-hero {
  h2 {
    margin: 14px;
    padding: 0px;
  }
}

.photo-summary {
  div {
    border: 1px solid $text-color;
    font-weight: bold;
    text-align: center;

    p {
      padding: 12px 0px 12px 0px;
      margin: 12px 0px 12px 0px;
    }
  }
}
