// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  h1 {
    margin: 10px;
    padding: 0px;

    a {
      text-decoration: none;
      color: none;
    }
  }
}

.submit-row {
  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 20pt;
  }
}

.blue-factor-0 {
  background-color: rgb(53, 113, 181);
}

.blue-factor-1 {
  background-color: rgb(90, 136, 189);
}

.blue-factor-2 {
  background-color: rgb(104, 144, 199);
}

.blue-factor-3 {
  background-color: rgb(126, 158, 206);
}

.blue-factor-4 {
  background-color: rgb(149, 177, 216);
}

.blue-factor-5 {
  background-color: rgb(177, 196, 225);
}

.header-row {
  .header-bar {
    height: 5px;
  }
}
