// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

body {
  background-color: rgb(60, 71, 80);
  color: $text-color;
}

.title {
  h1 {
    margin: 10px;
    padding: 0px;

    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}

.footer {
  border-top: 2px solid $text-color;
  padding-top: 12px;
}

.submit-row {
  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 20pt;
  }

  .right-margin {
    margin-right: 16px;
  }

  .left-margin {
    margin-left: 16px;
  }

  .valign {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
  }
}

.blue-factor-0 {
  background-color: rgb(53, 113, 181);
}

.blue-factor-1 {
  background-color: rgb(90, 136, 189);
}

.blue-factor-2 {
  background-color: rgb(104, 144, 199);
}

.blue-factor-3 {
  background-color: rgb(126, 158, 206);
}

.blue-factor-4 {
  background-color: rgb(149, 177, 216);
}

.blue-factor-5 {
  background-color: rgb(177, 196, 225);
}

.header-row {
  .header-bar {
    height: 5px;
  }
}
